{% extends "base.html" %}
{% load static %}

{% block title %}Painel Administrativo{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'painel:produtos_list' %}">
              Produtos
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Painel Administrativo</h1>
      </div>
      {% block painel_content %}
      <p>Bem-vindo ao painel. Use o menu lateral para gerenciar os produtos.</p>
      {% endblock %}
    </main>
  </div>
</div>
{% endblock %}
